extends layout

block content
  .about-container
      img(src="image.jpeg" alt="Your Image")
      .about-text
        p 
        | I’m Sven-Bjarne, technologist and athlete, navigating the interplay of innovation and human health. I worked in finding technical 
        a(href="https://alive.livy-home.com/en/" target="_blank" style="text-decoration: underline; color:black; display: inlline") solutions 
        | to improve life and save life. 
        p 
        | As a marathoner and sailing enthusiast I started the retreat company 
        a(href="https://skaerretreats.com" target="_blank" style="text-decoration: underline; color:black; display: inlline") skaerretreats.
        p Kansas City, MO and Berlin, Germany are home.