extends layout

block content
  a(href="https://medium.com/@svenbjarne/building-two-way-video-and-audio-stream-like-facetime-from-scratch-with-opensource-tools-802322480f03" target="_blank")
    .article-container
      .article-text
        h4 Building two-way video and audio stream like FaceTime with Swift, WebRTC, MediaMTX
        p The outcome of this article is a POC for two-way video and audio streaming in an iOS environment...
        p.caption medium.com
      .article-image
        img(src="article_1.webp" style="width: 150px; height: 150px; object-fit: cover; margin-left: auto;")