doctype html
html
  head
    title Portfolio
    link(rel="stylesheet", href="style.css")
  body
    header
    h1 Sven-Bjarne Seiffert
      nav
        ul
          li: a(href="/") home
          li: a(href="/articles") articles
          li: a(href="/about") about
    block content